.carousel {
  display: flex;
  flex-direction: row;
  padding: 7rem;
  width: 100%;
  height: 825px;
  background-color: #fbb03b;
}

.first-slide {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 4rem;
}

.first-slide h3 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  color: #ffffff;
}

.first-slide h1 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
  color: #ffffff;
}

.btn-join {
  width: 140px;
  height: 47px;
  border: none;
  outline: none;
  background: #2f2f7c;
  font-family: 'Nunito';
  font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
  border-radius: 8px;
}

.btn-join:hover{
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    background: #5db6f2;
    color: #ffffff;
}

.our-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-product h2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  text-transform: capitalize;
  color: #717171;
}

.our-product p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #727272;
}

.features {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.features1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features1 h5 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  color: #403d3d;
}

.desc {
  display: flex;
  flex-direction: row;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #707070;
}

.testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimony h2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  text-transform: capitalize;
  color: #717171;
}

.testimony p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #727272;
}

.ratings {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}

.rating {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin-right: 1rem;
  box-shadow: 0px 0px 70px rgba(99, 99, 99, 0.15);
  background: #ffffff;
  border-radius: 20px;
}

.txt-rating {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #000000;
}

.profile {
  display: flex;
  flex-direction: row;
}

.Name {
  display: flex;
  flex-direction: column;
}

.name {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.profesi {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #706f6f;
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clients h2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  text-transform: capitalize;
  color: #717171;
}

.clients p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #727272;
}


.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 679px;
  background: #2f2f7c;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.contacts h2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.contacts p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}

.input-right {
  display: flex;
  flex-direction: column;
}

.input-left {
  display: flex;
  flex-direction: column;
}

.input {
  width: 400px !important;
  height: 42px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border: none;
  outline: none;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

.txt-label {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.notes {
  height: 112px;
  width: 800px;
  border: none;
  outline: none;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0.5rem;
}
.btn-send {
  width: 160px;
  height: 42px;
  margin-top: 2rem;
  background: #5db6f2;
  border-radius: 8px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: none;
  outline: none;
  text-align: center;
  color: #ffffff;
}

.btn-send:hover{
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    background: #dadada;
    color: #ffffff;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .first-slide h3 {
    font-size: 20px;
  }

  .first-slide h1 {
    font-size: 35px;
    line-height: 42px;
  }

  .features1 h5 {
    font-size: 20px;
    /* line-height: 35px; */
  }

  .desc {
    font-size: 14px;
    line-height: 30px;
  }

  .our-product h2 {
    font-size: 35px;
  }

  .our-product p {
    font-size: 17px;
    line-height: 30px;
  }

  .testimony h2 {
    font-size: 35px;
  }

  .testimony p {
    font-size: 17px;
    line-height: 30px;
  }

  .txt-rating {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
  }

  .stars img {
    width: 100px;
  }

  .name {
    font-size: 14px;
    margin-bottom: -0rem;
  }

  .profesi {
    font-size: 10px !important;
  }

  .clients h2 {
    font-size: 35px;
  }

  .clients p {
    font-size: 17px;
    line-height: 30px;
  }

  .img-clients img{
    width: 120px;
  }

  .contacts h2 {
    font-size: 35px;
  }
  
  .contacts p {
    font-size: 17px;
  }
}
