/* STYLING NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background: #ffffff;

}

.tabs {
  display: flex;
  flex-direction: row;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #777676;
  margin-left: 33rem;
}

.nav-list:hover {
  color: #fbb03b;
  cursor: pointer;
}

/* STYLING FOOTER */
.footer {
  /*display: flex;*/
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding:15px;
  background-color: #ffffff;
}

.txt-footer a{
  display: flex;
  flex-direction: column;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #666666;
  text-decoration: none;
}

.txt-contact{
  display: flex;
  flex-direction: row;
}

.txt-contact a{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  text-decoration: none!important;
}

.link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #8d8d8d;
  text-decoration: none;
}

.footer h4{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #666666;
}

.tabs-down {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 338px;
  box-sizing: border-box;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.05);
  z-index: 2000;
  background: #ffffff;
  opacity: 1;
  transition: transform 0.5s cubic-bezier(.5, 0, .5, 1);
  border-radius: 0px 0px 16px 16px;
  margin-top: 27.4rem;
  margin-left: -0.5rem;
  padding: 3rem;
}

.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }


.tabs-down-open .tabs-down{
  transform: translateY(-12vh);
}

.nav-down{
  font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
color: #AAAAAA;
margin-bottom: 2rem;
}

.nav-down:hover{
  border-bottom: 4px solid #5DB6F2;
  color: #fbb03b;
}

@media screen and (max-width: 768px){


}

@media screen and (max-width: 380px){
  /* .logo{
    margin-left: -2rem;
  }

  .toggle-btn{
    margin-left: -1rem;
    padding-left: 5rem;
  } */

  .footer{
    display: none;
  }

  .social-media{
    display: none;
  }

  .footer-mobile{
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
  }

  .logo-footer{
    width: 79.17px;
height: 25px;
  }

  .img-sosmed-footer{
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

}
