/* STYLING NAVBAR */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background: #ffffff;
}

.tabs{
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    color: #777676;
}


  .nav-list:hover{
    color: #fbb03b;
    cursor: pointer;
  }
  

/* STYLING FOOTER */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 383px;
    padding: 8rem;
    background-color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
  }
